<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="Chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ayoungcompany</title>
    <link rel="stylesheet" href="/ayc_company/static/css/base.css">
    <link rel="stylesheet" href="{%block link%}{%endblock%}">
</head>
<body>
    <header>
        <nav>
            <ul class="clearfix">
                <li class="sub"><a href="{%block link%}{%endblock%}">shop</a></li>
                <li class="sub"><a href="#">notice</a></li>
                <li class="sub"><a href="#">contact</a></li>
                <li class="sub"><a href="{%block link%}{%endblock%}">post_jean</a></li>
                <li class="main_title"><a href="{%block link%}{%endblock%}">ayoungcompany</a></li>
                <li class="sub"><a href="#">instagram</a></li>
                <li class="sub"><a href="#">MyPage</a></li>
                <li class="sub"><a href="#">sign In</a></li>
                <li class="sub"><a href="#">cart</a></li>		
        </nav>
    </header>
    {% block content %}
    {% endblock content %}
</body>
</html>