{% load static %}
<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="Chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ayoungcompany</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{%block link%}{%endblock%}">
</head>
<body>
    <header>
        <nav>
            <ul class="clearfix">
                <li class="sub"><a href="{%url 'list' %}">shop</a></li>
                <li class="sub"><a href="#">notice</a></li>
                <li class="sub"><a href="#">contact</a></li>
                <li class="sub"><a href="{% url 'post_jean' %}">post_jean</a></li>
                <li class="main_title"><a href="{% url 'index' %}">ayoungcompany</a></li>
                <li class="sub"><a href="#">instagram</a></li>
                <li class="sub"><a href="#">MyPage</a></li>
                <li class="sub"><a href="#">sign In</a></li>
                <li class="sub"><a href="#">cart</a></li>		
        </nav>
    </header>
    {%block content%}
    {%endblock%}
    <div class="bottom">
        <div class="bottom-sub">
            <p>c/s</p>
            <p>3pm-6pm</p>
            <p>Monday to Friday</p>
        </div>
        <div class="bottom-sub">
            <p>contact</p>
            <p>070-7781-1005</p>
            <p>ayc_official@naver.com</p>
        </div>
        <div class="bottom-sub">
            <p>AYoung Kim</p>
            <p>2014-GyeonggiAnyang-00221</p>
            <p>1233774586</p>
        </div>
        <div class="bottom-sub">
            <p>About</p>
            <p>Terms & Conditions</p>
            <p>Privacy Policy</p>
            <p>@ayoungcompany.All Right</p>
            <p>Reserved.</p>
        </div>
    </div>
</body>
</html>