{% extends 'base.html' %}
{% load static %}

{% block link %} {% static 'css/index.css' %} {% endblock %}
{% block content %}
    <div class="main_photo">
        <img src="/static/image/main.PNG">
    </div>

    <div class="slidebox">
        <input type="radio" name="slide" id="slide01" checked>
        <input type="radio" name="slide" id="slide02">
    <ul class="slidelist">
    <li class="slideitem">
        <div>
        <a href="#"><img src="/static/image/1.jpg"></a>
        <a href="#"><img src="/static/image/2.jpg"></a>
        <a href="#"><img src="/static/image/3.jpg"></a>
        <a href="#"><img src="/static/image/4.jpg"></a>
        </div>
    </li>
    <li class="slideitem">
        <div>
        <a href="#"><img src="/static/image/5.jpg"></a>
        <a href="#"><img src="/static/image/6.jpg"></a>
        <a href="#"><img src="/static/image/7.jpg"></a>
        <a href="#"><img src="/static/image/8.jpg"></a>
        </div>
    </li>
    <li class="slideitem">
        <div>
        <a href="#"><img src="/static/image/1.jpg"></a>
        <a href="#"><img src="/static/image/2.jpg"></a>
        <a href="#"><img src="/static/image/3.jpg"></a>
        <a href="#"><img src="/static/image/4.jpg"></a>
        </div>
    </li>
    <li class="slideitem">
        <div>
        <a href="#"><img src="/static/image/5.jpg"></a>
        <a href="#"><img src="/static/image/6.jpg"></a>
        <a href="#"><img src="/static/image/7.jpg"></a>
        <a href="#"><img src="/static/image/8.jpg"></a>
        </div>
    </li>
    </ul>
    </div>
{%endblock%}