{% extends 'base.html' %}
{% load static %}

{% block title %}  {% endblock %}
{% block link %} {% static 'css/index.css' %} {% endblock %}
{% block content %}


<body>
    <header class>

        /* base.html 에서 가져오기 */


    </header>


    /* 네비게이션 바 */
    /* Jeans(25) Standard Jeans (10) Cropped Jeans(13) Black Jeans(6) */

    <div id="container">
        <div id="left"> </left>

        <div id="center"> </div>
            <div id="contents">
            {% for j in jeans %}
                <div class="contentbox">
                    {% if j.image %}
                    <div class="image"><img class="img" src="{{j.image}}" height="300" alt="냥이 사진 등록 준비중... " /></div> 
                    {% endif %}
                    <div class="name">{{j.name}}</div>
                    <div class="price">{{j.price}}</div>
                </div>
            {% endfor %}
        </div>

        <div id="right"> </div>
    
    </div>


    </div>

</body>
</html>