{% extends 'base.html' %}
{% load static %}
{% block link %} {% static 'css/list.css' %} {% endblock %}
{% block content %}

    <div id="container">
        <div id="left"> left </div>
        <div id="center">
            <div id="contents">
            {% for j in jean %}
                <div class="contentbox">
                    {% if j.image %}
                    <a href="{% url 'detail' j.id %}"><div class="image"><img class="img" src="{{j.image}}" alt="사진 등록 준비중" /></div></a>
                    {% endif %}
                    <a href="{% url 'detail' j.id %}"><div class="name">{{j.name}}</div></a>
                    <a href="{% url 'detail' j.id %}"><div class="price">{{j.price}}</div></a>
                </div>
            {% endfor %}
            </div>
        </div>
        <div id="right"> right </div>
    </div>

{% endblock %}