@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap%27');

* {margin:0; padding:0;box-sizing:border-box; font-family: 'Poppins';}
ul li {list-style:none;}
.clearfix:after{content:'';display:block; clear:both;text-decoration: none;}
body {overflow-y:scroll;}
header {	
	background:linear-gradient(white 50px, rgba(255,255,255,0.5) 50px, rgba(255,255,255,0.5) );
	height:50px; 
	overflow:hidden;
}
a{
    text-decoration: none;
    color: black;
}
nav {width:100%; margin:0 auto;}
nav > ul > li {float:left; line-height:50px; position: relative;}
.main_title{
    padding-left: 5%;
    padding-right: 5%;
    font-size:larger;
    font-weight: bold;
}

.sub{
    margin-left: 5%;
    font-family: 'Poppins', sans-serif;
}


.bottom{
    display: flex;
    text-align: center;
    margin-left: 3%;
}

.bottom-sub{
    padding-top: 3%;
    padding-left: 9%;
}