@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap%27');

.detail_wrap {
    font-family: 'Poppins', sans-serif;
    display: flex; flex-direction:row; margin: 30px; 
    margin-top: 100px;
}
.detail_side {
    border: 0px solid black; 
    width: 25%; 
    height: 100%; 
    margin: 100px 30px;
    text-align: left;
    padding: 10px;
}
.detail_main {
    border: 0px solid black; 
    width: 50%; 
    margin: 0 15px;
}
.detail_buy {
    text-align: center;
    border: 0px solid black; 
    width: 25%; 
    margin: 200px 10px;
}
.buy_button_buy {
    width: 300px;
    height: 50px;
    margin-top: 50px;
    background-color: black;
    color: white;
}
.buy_button_cart {
    width: 300px;
    height: 50px;
    margin-top: 10px;
    background-color: white;
}
.detail_size {
    font-size: 90%;
}
.size {
    margin: 10px;
}
.input {
    margin:20px;
    width: 300px;
    height: 25px;

}