
#center{
    border-radius:1px solid black;
    flex-basis:60%;
    display:flex;
    flex-direction:column;
}
#contents{
    min-width:200px;
    background-color:rgb(243, 242, 242);
    flex-basis:85%;
    flex-flow:row wrap;
    justify-content:space-around;
    align-content:flex-start;
    font-size:10px;
    height:100vh;
}

.contentbox{
    border:1px solid blue;
    margin-top:1%;
    width:250px;height:220px;
    flex-direction:column;
}

.image{
    width:200px;height:400px;
}
.name{
    background-color:beige;
}
.price{
    background-color:blanchedalmond;

}
